//colors

$verylightgray: #fafafa;
$lightgray: #f1f1f1;
$lighterblack: #191919;
$lightorange: #fbaf85;
$darkorange: #d87d4a;

///font

//size
$h1size: 56px;
$h2size: 40px;
$h3size: 32px;
$h4size: 28px;
$h5size: 24px;
$h6size: 18px;
$psize: 15px;
$overlinesize: 14px;
$subtitlesize: 13px;

//linespace
$h1linespace: 58px;
$h2linespace: 44px;
$h3linespace: 36px;
$h4linespace: 38px;
$h5linespace: 33px;
$plinespace: 25px;
$overlinespace: 19px;
$subtitlespace: 25px;

// charspace
$h1char: 2px;
$h2char: 1.5px;
$h3char: 1.15px;
$h4char: 2px;
$h5char: 1.7px;
$h6char: 1.3px;
$overlinechar: 10px;
$subtitlechar: 1px;
